apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: alloy
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: '{{ required ".Values.targetRevision is required" .Values.targetRevision }}'
    path: charts/alloy
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        vault_name: '{{ required ".Values.vault_name is required" .Values.vault_name }}'
        cluster_name: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
        k8s-monitoring:
          cluster:
            name: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'

          # Arrays don't value-merge so we have to do it all here.
          destinations:
            - name: localMimir
              type: prometheus
              url: http://mimir-gateway.mimir.svc/api/v1/push
              tenantId: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
              secret:
                # This is just the tenant name
                create: false
                embed: true
            - name: localLoki
              type: loki
              url: http://loki-gateway.loki.svc/loki/api/v1/push
              tenantId: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
              auth:
                type: basic
                username: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
                passwordKey: password
              secret:
                create: false
                name: loki-tenant-auth
              tls:
                insecureSkipVerify: true
          alloy-singleton:
            extraConfig: |-
              mimir.rules.kubernetes "default" {
                address = "http://mimir-gateway.mimir.svc"
                tenant_id = "{{ required ".Values.cluster_name is required" .Values.cluster_name }}"
              }

  destination:
    server: https://kubernetes.default.svc
    namespace: alloy
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/warn: privileged
        trust-bundle: enabled
