apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: alloy
  namespace: argocd
  labels:
    name: alloy
spec:
  project: "{{ .Values.cluster_name }}"
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "{{ .Values.targetRevision }}"
    path: charts/alloy
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        vault_name: "{{ .Values.vault_name }}"
        cluster_name: "{{ .Values.cluster_name }}"
        k8s-monitoring:
          cluster:
            name: "{{ .Values.cluster_name }}"

          # Arrays don't value-merge so we have to do it all here.
          destinations:
            - name: localMimir
              type: prometheus
              url: http://mimir-distributor-headless.mimir.svc:8080/api/v1/push
              tenantId: "{{ .Values.cluster_name }}"
              secret:
                # This is just the tenant name
                create: false
                embed: true
            - name: localLoki
              type: loki
              url: http://loki-gateway.loki.svc/loki/api/v1/push
              tenantId: "{{ .Values.cluster_name }}"
              http_user: "{{ .Values.cluster_name }}"
              secret:
                # This is just the tenant name
                create: false
                embed: true
              http_passwd:
                secret:
                  name: loki-tenant-auth
                  key: password
          alloy-singleton:
            extraConfig: |-
              mimir.rules.kubernetes "default" {
                address = "http://mimir-ruler.mimir.svc:8080"
                tenant_id = "{{ .Values.cluster_name }}"
              }

  destination:
    server: https://kubernetes.default.svc
    namespace: alloy
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/warn: privileged
        trust-bundle: enabled
