apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium-config
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: '{{ required ".Values.targetRevision is required" .Values.targetRevision }}'
    path: charts/cilium-config
    helm:
      # Inject values from Terraform or that vary by environment.
      valuesObject:
        external_ip_cidr: '{{ required ".Values.external_ip_cidr is required" .Values.external_ip_cidr }}'
        targetRevision: '{{ required ".Values.targetRevision is required" .Values.targetRevision }}'
  destination:
    server: https://kubernetes.default.svc
    namespace: cilium
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/warn: privileged
