# Terraform
*.tfstate
*.tfstate.*
!*.tfvars.example
.terraform/
crash.log
crash.*.log

# Talos configuration files (contain secrets)
controlplane.yaml
worker.yaml
talosconfig
secrets.yaml

.secrets/

# Temporary files
*.tmp
*.bak
