apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: local-path-provisioner
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    chart: local-path-provisioner
    repoURL: https://charts.containeroo.ch
    targetRevision: "0.0.32"
    helm:
      valuesObject:
        storageClass:
          create: true
          defaultClass: true
          name: local-path
          reclaimPolicy: Delete
          volumeBindingMode: WaitForFirstConsumer
  destination:
    server: https://kubernetes.default.svc
    namespace: local-path-provisioner
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/warn: privileged
