apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    repoURL: "https://grafana.github.io/helm-charts"
    targetRevision: "6.49.0"
    chart: loki
    helm:
      valuesObject:
        vault_name: '{{ required ".Values.vault_name is required" .Values.vault_name }}'
        cluster_name: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
        extraObjects:
          - apiVersion: v1
            kind: ConfigMap
            metadata:
              name: loki-data-source
              namespace: "loki"
              labels:
                grafana_datasource: "1"
            data:
              datasource.yaml: |-
                apiVersion: 1
                datasources:
                  - name: Loki
                    uid: loki
                    type: loki
                    url: http://loki.loki.svc:3100
                    isDefault: false
                    jsonData:
                      httpHeaderName1: X-Scope-OrgID
                    secureJsonData:
                      httpHeaderValue1: "{{ .Values.cluster_name }}"
        global:
          extraArgs:
            - -config.expand-env=true
            - -log-config-reverse-order
        loki:
          schemaConfig:
            configs:
              - from: 2024-04-01
                store: tsdb
                object_store: filesystem
                schema: v13
                index:
                  prefix: loki_index_
                  period: 24h
          ingester:
            chunk_encoding: snappy
          pattern_ingester:
            enabled: true
          limits_config:
            volume_enabled: true
          tracing:
            enabled: true
          ruler:
            enable_api: true
          storage:
            type: "filesystem"
          querier:
            # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
            max_concurrent: 4

        deploymentMode: SingleBinary
        monitoring:
          dashboards:
            enabled: false
            # annotations:
            #   k8s-sidecar-target-directory: /tmp/dashboards/Loki
          serviceMonitor:
            enabled: true
          rules:
            enabled: false
          selfMonitoring:
            enabled: false

        minio:
          enabled: false

        # Single binary mode configuration
        singleBinary:
          replicas: 1
          enableStatefulSetAutoDeletePVC: true
          persistence:
            storageClass: "nfs-loki"
            size: 100Gi

        gateway:
          enabled: false
        backend:
          replicas: 0
        read:
          replicas: 0
        write:
          replicas: 0
        chunksCache:
          enabled: false
        resultsCache:
          enabled: false
        ingester:
          replicas: 0
        querier:
          replicas: 0
        queryFrontend:
          replicas: 0
        queryScheduler:
          replicas: 0
        distributor:
          replicas: 0
        compactor:
          replicas: 0
        indexGateway:
          replicas: 0
        bloomCompactor:
          replicas: 0
        bloomGateway:
          replicas: 0

  destination:
    server: https://kubernetes.default.svc
    namespace: loki
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
