apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nfs-csi-driver
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    repoURL: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
    targetRevision: "4.12.1"
    chart: csi-driver-nfs
    helm:
      valuesObject:
        # NFS storage architecture: see docs/nfs-storage-architecture.md
        enableSnapshotter: false
        storageClasses:
          - name: cluster-nfs
            parameters:
              server: '{{ required ".Values.nfs_server is required" .Values.nfs_server }}'
              share: '{{ required ".Values.cluster_nfs_path is required" .Values.cluster_nfs_path }}'
            reclaimPolicy: Delete
            volumeBindingMode: WaitForFirstConsumer
            mountOptions:
              # NFSv4.1 has built-in locking, avoids rpc.statd requirement
              # vers=4.1 is shorthand for vers=4,minorversion=1
              # Server uses squash_all, so no uid mapping needed
              - vers=4.1
  destination:
    server: https://kubernetes.default.svc
    namespace: nfs-csi-driver
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: privileged
        pod-security.kubernetes.io/enforce: privileged
