apiVersion: v1
kind: ConfigMap
metadata:
  name: cmp-tanka
  namespace: "{{ .Release.Namespace }}"
data:
  # Note that the ArgoCD parser apparently can't handle multiline YAML formats.
  plugin.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: tanka
    spec:
      init:
        command: ["sh", "-c", "/home/argocd/cmp-server/plugins/jb install"]
      parameters:
        static:
          - name: cluster_name
            string: "placeholder-cluster-name"
          - name: vault_name
            string: "placeholder-vault-name"
          - name: project_id
            string: "placeholder-project-id"
          - name: app_settings
            collectionType: map
            map: {}

      generate:
        command:
          - /home/argocd/cmp-server/plugins/generate.sh
      discover:
        fileName: "./environments/*/main.jsonnet"
  generate.sh: |
    #!/bin/sh
    set -euo pipefail
    /home/argocd/cmp-server/plugins/tk show \
      "environments/${ARGOCD_ENV_TK_ENV}" \
      --dangerous-allow-redirect \
      --ext-str ARGOCD_APP_PARAMETERS="${ARGOCD_APP_PARAMETERS}"
