apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  namespace: "{{ .Release.Namespace }}"
  name: github-data-source-secret
  labels:
    grafana_datasource: "1"
type: Opaque
spec:
  itemPath: "vaults/{{.Values.vault_name}}/items/grafana-github-token"
