apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-data-source
  namespace: "{{ .Release.Namespace }}"
  labels:
    grafana_datasource: "1"
data:
  datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Mimir Alertmanager
        uid: alertmanager
        type: alertmanager
        url: http://mimir-alertmanager.mimir.svc/
        jsonData:
          implementation: mimir
          handleGrafanaManagedAlerts: true
          httpHeaderName1: X-Scope-OrgID
        secureJsonData:
          httpHeaderValue1: "{{ .Values.cluster_name }}"
