apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-data-source
  namespace: "{{ .Release.Namespace }}"
  labels:
    grafana_datasource: "1"
data:
  datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Mimir
        uid: prom
        type: prometheus
        url: http://mimir-query-frontend.mimir.svc:8080/prometheus
        isDefault: true
        jsonData:
          prometheusType: Mimir
          alertmanagerUid: alertmanager
          httpHeaderName1: X-Scope-OrgID
        secureJsonData:
          tlsCACert: $__file{/etc/ssl/certs/ca-certificates.crt}
          httpHeaderValue1: "{{ .Values.cluster_name }}"
