version: v1alpha1
cluster:
  network:
    # cilium will become our CNI.
    cni:
      name: none
  controllerManager:
    extraArgs:
      # Listen to more than localhost so we can scrape from Alloy.
      bind-address: 0.0.0.0
  scheduler:
    extraArgs:
      # Listen to more than localhost so we can scrape from Alloy.
      bind-address: 0.0.0.0
  apiServer:
    extraArgs:
      # Listen to more than localhost so we can scrape from Alloy.
      bind-address: 0.0.0.0
  proxy:
    # Cilium will replace the proxy
    disabled: true
machine:
  sysctls:
    user.max_user_namespaces: "8192"
  # https://www.talos.dev/v1.10/talos-guides/configuration/containerd/#exposing-metrics
  files:
    - content: |
        [metrics]
          address = "0.0.0.0:11234"
      path: /etc/cri/conf.d/20-customization.part
      op: create
  features:
    rbac: true
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      resolveMemberNames: true
      forwardKubeDNSToHost: false
    imageCache:
      localEnabled: true
  install:
    # wipe: true
    # extraKernelArgs are set in the schematic customization, not here
    # Setting them here conflicts with grubUseUKICmdline when using schematics
