apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: '{{ required ".Values.targetRevision is required" .Values.targetRevision }}'
    path: charts/external-dns
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        cluster_name: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
        project_id: '{{ required ".Values.project_id is required" .Values.project_id }}'
        vault_name: '{{ required ".Values.vault_name is required" .Values.vault_name }}'
        external-dns:
          txtOwnerId: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
          domainFilters:
            - '{{ required ".Values.cluster_name is required" .Values.cluster_name }}.symmatree.com'
            - 0.10.in-addr.arpa
          extraArgs:
            - '--google-project={{ required ".Values.project_id is required" .Values.project_id }}'
  destination:
    server: https://kubernetes.default.svc
    namespace: external-dns
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
