apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
  labels:
    name: loki
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: '{{ required ".Values.targetRevision is required" .Values.targetRevision }}'
    path: charts/loki
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        vault_name: '{{ required ".Values.vault_name is required" .Values.vault_name }}'
        cluster_name: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
        loki:
          loki:
            storage:
              bucketNames:
                chunks: '{{ required ".Values.loki_bucket_chunks is required" .Values.loki_bucket_chunks }}'
                ruler: '{{ required ".Values.loki_bucket_ruler is required" .Values.loki_bucket_ruler }}'
                admin: '{{ required ".Values.loki_bucket_admin is required" .Values.loki_bucket_admin }}'
  destination:
    server: https://kubernetes.default.svc
    namespace: loki
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
