vault_name: placeholder
cluster_name: placeholder

loki:
  global:
    extraArgs:
      - -config.expand-env=true
      - -log-config-reverse-order
    extraVolumes:
      - name: gsa-loki
        secret:
          secretName: gsa-loki
    extraEnv:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /etc/secrets/gsa-loki/credential.json
    extraVolumeMounts:
      - name: gsa-loki
        mountPath: /etc/secrets/gsa-loki/
  loki:
    schemaConfig:
      configs:
        - from: 2024-04-01
          store: tsdb
          object_store: gcs
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    ingester:
      chunk_encoding: snappy
    pattern_ingester:
      enabled: true
    tracing:
      enabled: true
    ruler:
      enable_api: true
    storage:
      type: "gcs"
      bucketNames:
        chunks: chunks-placeholder
        ruler: ruler-placeholder
        admin: admin-placeholder
      gcs:
        chunkBufferSize: 67108864
    querier:
      # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
      max_concurrent: 4
  gateway:
    basicAuth:
      enabled: true
      existingSecret: loki-tenant-auth
    replicas: 1
    readinessProbe:
      httpGet:
        path: /
        port: 8080
      initialDelaySeconds: 3
      periodSeconds: 3
  #gateway:
  #  ingress:
  #    enabled: true
  #    hosts:
  #      - host: FIXME
  #        paths:
  #          - path: /
  #            pathType: Prefix

  deploymentMode: SimpleScalable
  backend:
    replicas: 2
    affinity:
      podAntiAffinity:
        # Overridden to change from required to preferred
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/component: backend
                  app.kubernetes.io/name: loki
                  app.kubernetes.io/instance: loki
              topologyKey: kubernetes.io/hostname
        requiredDuringSchedulingIgnoredDuringExecution: []
  read:
    replicas: 2
    enableStatefulSetAutoDeletePVC: true
    affinity:
      podAntiAffinity:
        # Overridden to change from required to preferred
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/component: read
                  app.kubernetes.io/name: loki
                  app.kubernetes.io/instance: loki
              topologyKey: kubernetes.io/hostname
        requiredDuringSchedulingIgnoredDuringExecution: []
  write:
    replicas: 3
    enableStatefulSetAutoDeletePVC: true
    affinity:
      podAntiAffinity:
        # Overridden to change from required to preferred
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/component: write
                  app.kubernetes.io/name: loki
                  app.kubernetes.io/instance: loki
              topologyKey: kubernetes.io/hostname
        requiredDuringSchedulingIgnoredDuringExecution: []
  chunksCache:
    # Down from default of 8GB
    allocatedMemory: 1024
  monitoring:
    dashboards:
      enabled: true
      annotations:
        k8s-sidecar-target-directory: /tmp/dashboards/Loki
    serviceMonitor:
      enabled: true
    rules:
      enabled: true
    selfMonitoring:
      enabled: false

  minio:
    enabled: false

  # Zero out replica counts of other deployment modes
  singleBinary:
    replicas: 0

  ingester:
    replicas: 0
  querier:
    replicas: 0
  queryFrontend:
    replicas: 0
  queryScheduler:
    replicas: 0
  distributor:
    replicas: 0
  compactor:
    replicas: 0
  indexGateway:
    replicas: 0
  bloomCompactor:
    replicas: 0
  bloomGateway:
    replicas: 0
