apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-applications
  namespace: argocd
  labels:
    name: argocd-applications
spec:
  project: "${cluster_name}"
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "${targetRevision}"
    path: charts/argocd-applications
    helm:
      valuesObject:
        # Propagate to other application.yaml files
        targetRevision: "${targetRevision}"
        pod_cidr: "${pod_cidr}"
        cluster_name: "${cluster_name}"
        external_ip_cidr: "${external_ip_cidr}"
        vault_name: "${vault_name}"
        project_id: "${project_id}"
        seed_project_id: "${seed_project_id}"
        cluster_nfs_path: "${cluster_nfs_path}"
        datasets_nfs_path: "${datasets_nfs_path}"
        nfs_server: "${nfs_server}"
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - FailOnSharedResource=true
