---
# Source: argocd-applications/templates/tiles-appproject.yaml
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: "placeholder"
  namespace: argocd
spec:
  description: "placeholder Project"
  sourceRepos:
    - https://github.com/symmatree/tiles.git
  destinations:
    - server: https://kubernetes.default.svc
      namespace: '*'
  # Allow creating all types of cluster-scoped resources...
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  # ...except CRDs because then cert-manager tries to nuke them.
  clusterResourceBlacklist:
  - group: 'apiextensions.k8s.io/v1'
    kind: 'CustomResourceDefinition'
---
# Source: argocd-applications/templates/argocd-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  labels:
    name: argocd
spec:
  project: "placeholder"
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "main"
    path: charts/argocd
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        targetRevision: "main"
        argo-cd:
          global:
            domain: "argocd.placeholder.symmatree.com"
          server:
            ingressGrpc:
              hostname: "grpc-argocd.placeholder.symmatree.com"
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - FailOnSharedResource=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
---
# Source: argocd-applications/templates/argocd-applications-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-applications
  namespace: argocd
  labels:
    name: argocd-applications
spec:
  project: "placeholder"
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "main"
    path: charts/argocd-applications
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        # Propagate to other application.yaml files
        targetRevision: "main"
        pod_cidr: "placeholder"
        cluster_name: "placeholder"
        external_ip_cidr: "placeholder-external-ip-cidr"
        vault_name: "placeholder"
        project_id: "placeholder-project-id"
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    # automated:
    #   prune: true
    #   selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - FailOnSharedResource=true
---
# Source: argocd-applications/templates/cert-manager-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  labels:
    name: cert-manager
spec:
  project: "placeholder"
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "main"
    path: charts/cert-manager
    helm:
      skipCrds: true
      valueFiles:
        - values.yaml
      valuesObject:
        cluster_name: "placeholder"
        project_id: "placeholder-project-id"
        vault_name: "placeholder"
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
---
# Source: argocd-applications/templates/cilium-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
  labels:
    name: cilium
spec:
  project: "placeholder"
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "main"
    path: charts/cilium
    helm:
      valueFiles:
        - values.yaml
      # Inject values from Terraform or that vary by environment.
      valuesObject:
        cilium:
          ipv4NativeRoutingCIDR: "placeholder"
          cluster:
            name: "placeholder"
          hubble:
            tls:
              auto:
                certManagerIssuerRef:
                  name: "placeholder-ca-issuer"
            ui:
              ingress:
                hosts:
                  - "hubble.placeholder.symmatree.com"
                tls:
                  - secretName: hubble-ui-tls
                    hosts:
                      - "hubble.placeholder.symmatree.com"
  destination:
    server: https://kubernetes.default.svc
    namespace: cilium
  syncPolicy:
    # automated:
    #   prune: true
    #   selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/warn: privileged
---
# Source: argocd-applications/templates/cilium-config-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium-config
  namespace: argocd
  labels:
    name: cilium-config
spec:
  project: "placeholder"
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "main"
    path: charts/cilium-config
    helm:
      # Inject values from Terraform or that vary by environment.
      valuesObject:
        external_ip_cidr: "placeholder-external-ip-cidr"
        targetRevision: "main"
  destination:
    server: https://kubernetes.default.svc
    namespace: cilium
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/warn: privileged
---
# Source: argocd-applications/templates/external-dns-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns
  namespace: argocd
  labels:
    name: external-dns
spec:
  project: "placeholder"
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "main"
    path: charts/external-dns
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        cluster_name: "placeholder"
        project_id: "placeholder-project-id"
        vault_name: "placeholder"
        external-dns:
          txtOwnerId: "placeholder"
          domainFilters:
            - "placeholder.symmatree.com"
            - 0.10.in-addr.arpa
          extraArgs:
            - "--google-project=placeholder-project-id"
  destination:
    server: https://kubernetes.default.svc
    namespace: external-dns
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
---
# Source: argocd-applications/templates/onepassword-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: onepassword
  namespace: argocd
  labels:
    name: onepassword
spec:
  project: "placeholder"
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "main"
    path: charts/onepassword
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: onepassword
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
