---
# Source: argocd-applications/templates/alloy-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: alloy
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: charts/alloy
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        vault_name: 'placeholder'
        cluster_name: 'placeholder'
        k8s-monitoring:
          cluster:
            name: 'placeholder'

          # Arrays don't value-merge so we have to do it all here.
          destinations:
            - name: localMimir
              type: prometheus
              url: http://mimir-distributor-headless.mimir.svc:8080/api/v1/push
              tenantId: 'placeholder'
              secret:
                # This is just the tenant name
                create: false
                embed: true
            - name: localLoki
              type: loki
              url: http://loki-gateway.loki.svc/loki/api/v1/push
              tenantId: 'placeholder'
              auth:
                type: basic
                username: 'placeholder'
                passwordFrom: 'secret(loki-tenant-auth).password'
              secret:
                # This is just the tenant name
                create: false
                embed: true
          alloy-singleton:
            extraConfig: |-
              mimir.rules.kubernetes "default" {
                address = "http://mimir-ruler.mimir.svc:8080"
                tenant_id = "placeholder"
              }

  destination:
    server: https://kubernetes.default.svc
    namespace: alloy
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/warn: privileged
        trust-bundle: enabled
---
# Source: argocd-applications/templates/apprise-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apprise
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: tanka
    plugin:
      env:
        - name: TK_ENV
          value: apprise
      parameters:
        - name: cluster_name
          string: 'placeholder'
        - name: vault_name
          string: 'placeholder'
        - name: project_id
          string: 'placeholder'
        - name: app_settings
          map:
            hostname: 'apprise.placeholder.symmatree.com'
            cluster_issuer: "real-cert"
            apprise_env: 'placeholder-apprise-env'
            apprise_admin: 'placeholder-apprise-admin'
  destination:
    server: https://kubernetes.default.svc
    namespace: apprise
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
---
# Source: argocd-applications/templates/argocd-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: charts/argocd
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        targetRevision: 'placeholder'
        cluster_name: 'placeholder'
        vault_name: 'placeholder'
        argo-cd:
          global:
            domain: 'argocd.placeholder.symmatree.com'
          server:
            ingressGrpc:
              hostname: 'grpc-argocd.placeholder.symmatree.com'
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - FailOnSharedResource=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
---
# Source: argocd-applications/templates/argocd-mixin-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-mixin
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: tanka
    plugin:
      env:
        - name: TK_ENV
          value: argocd-mixin
      parameters:
        - name: cluster_name
          string: 'placeholder'
        - name: vault_name
          string: 'placeholder'
        - name: project_id
          string: 'placeholder'
        - name: app_settings
          map: {}
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
---
# Source: argocd-applications/templates/cert-manager-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: charts/cert-manager
    helm:
      skipCrds: true
      valueFiles:
        - values.yaml
      valuesObject:
        cluster_name: 'placeholder'
        project_id: 'placeholder'
        vault_name: 'placeholder'
        trust-manager:
          secretTargets:
            authorizedSecrets:
              - 'placeholder-ca-tls'
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
---
# Source: argocd-applications/templates/cilium-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: charts/cilium
    helm:
      valueFiles:
        - values.yaml
      # Inject values from Terraform or that vary by environment.
      valuesObject:
        cilium:
          ipv4NativeRoutingCIDR: 'placeholder'
          cluster:
            name: 'placeholder'
          hubble:
            tls:
              auto:
                certManagerIssuerRef:
                  name: 'placeholder-ca-issuer'
            ui:
              ingress:
                hosts:
                  - 'hubble.placeholder.symmatree.com'
                tls:
                  - secretName: hubble-ui-tls
                    hosts:
                      - 'hubble.placeholder.symmatree.com'
  destination:
    server: https://kubernetes.default.svc
    namespace: cilium
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/warn: privileged
---
# Source: argocd-applications/templates/cilium-config-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium-config
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: charts/cilium-config
    helm:
      # Inject values from Terraform or that vary by environment.
      valuesObject:
        external_ip_cidr: 'placeholder'
        targetRevision: 'placeholder'
  destination:
    server: https://kubernetes.default.svc
    namespace: cilium
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/warn: privileged
---
# Source: argocd-applications/templates/cilium-mixin-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium-mixin
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: tanka
    plugin:
      env:
        - name: TK_ENV
          value: cilium-mixin
      parameters:
        - name: cluster_name
          string: 'placeholder'
        - name: vault_name
          string: 'placeholder'
        - name: project_id
          string: 'placeholder'
        - name: app_settings
          map: {}
  destination:
    server: https://kubernetes.default.svc
    namespace: cilium
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
---
# Source: argocd-applications/templates/external-dns-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: charts/external-dns
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        cluster_name: 'placeholder'
        project_id: 'placeholder'
        vault_name: 'placeholder'
        external-dns:
          txtOwnerId: 'placeholder'
          domainFilters:
            - 'placeholder.symmatree.com'
            - 0.10.in-addr.arpa
          extraArgs:
            - '--google-project=placeholder'
  destination:
    server: https://kubernetes.default.svc
    namespace: external-dns
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
---
# Source: argocd-applications/templates/grafana-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: charts/grafana
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        vault_name: 'placeholder'
        cluster_name: 'placeholder'
        grafana:
          ingress:
            hosts:
              - 'borgmon.placeholder.symmatree.com'
            tls:
              - secretName: grafana-tls
                hosts:
                  - 'borgmon.placeholder.symmatree.com'
  destination:
    server: https://kubernetes.default.svc
    namespace: grafana
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
        trust-bundle: enabled
---
# Source: argocd-applications/templates/kubernetes-mixin-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kubernetes-mixin
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: tanka
    plugin:
      env:
        - name: TK_ENV
          value: kubernetes-mixin
      parameters:
        - name: cluster_name
          string: 'placeholder'
        - name: vault_name
          string: 'placeholder'
        - name: project_id
          string: 'placeholder'
        - name: app_settings
          map: {}
  destination:
    server: https://kubernetes.default.svc
    namespace: alloy
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
---
# Source: argocd-applications/templates/local-path-provisioner-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: local-path-provisioner
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: charts/local-path-provisioner
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: local-path-provisioner
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/warn: privileged
---
# Source: argocd-applications/templates/loki-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: charts/loki
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        vault_name: 'placeholder'
        cluster_name: 'placeholder'
        loki:
          loki:
            storage:
              bucketNames:
                chunks: 'placeholder'
                ruler: 'placeholder'
                admin: 'placeholder'
  destination:
    server: https://kubernetes.default.svc
    namespace: loki
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
---
# Source: argocd-applications/templates/mimir-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mimir
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: charts/mimir
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        vault_name: 'placeholder'
        cluster_name: 'placeholder'
        mimir-distributed:
          mimir:
            structuredConfig:
              alertmanager_storage:
                gcs:
                  bucket_name: 'placeholder'
              blocks_storage:
                gcs:
                  bucket_name: 'placeholder'
              ruler_storage:
                gcs:
                  bucket_name: 'placeholder'
          ingress:
            hosts:
              - 'mimir.placeholder.symmatree.com'
            tls:
              - secretName: mimir-tls
                hosts:
                  - 'mimir.placeholder.symmatree.com'
  destination:
    server: https://kubernetes.default.svc
    namespace: mimir
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
---
# Source: argocd-applications/templates/node-exporter-mixin-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: node-exporter-mixin
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: tanka
    plugin:
      env:
        - name: TK_ENV
          value: node-exporter-mixin
      parameters:
        - name: cluster_name
          string: 'placeholder'
        - name: vault_name
          string: 'placeholder'
        - name: project_id
          string: 'placeholder'
        - name: app_settings
          map: {}
  destination:
    server: https://kubernetes.default.svc
    namespace: alloy
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
---
# Source: argocd-applications/templates/onepassword-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: onepassword
spec:
  project: 'placeholder'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: 'placeholder'
    path: charts/onepassword
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: onepassword
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
