targetRevision: placeholder-revision
pod_cidr: "placeholder-pod-cidr"
cluster_name: "placeholder-cluster-name"
external_ip_cidr: "placeholder-external-ip-cidr"
vault_name: "placeholder-vault-name"
project_id: "placeholder-project-id"
loki_bucket_chunks: "placeholder-loki-bucket-chunks"
loki_bucket_ruler: "placeholder-loki-bucket-ruler"
loki_bucket_admin: "placeholder-loki-bucket-admin"
mimir_bucket_alertmanager: "placeholder-mimir-bucket-alertmanager"
mimir_bucket_blocks: "placeholder-mimir-bucket-blocks"
mimir_bucket_ruler: "placeholder-mimir-bucket-ruler"
