apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
  labels:
    name: grafana
spec:
  project: default
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "{{ .Values.targetRevision }}"
    path: charts/grafana
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        vault_name: "{{ .Values.vault_name }}"
        cluster_name: "{{ .Values.cluster_name }}"
        grafana:
          ingress:
            hosts:
              - borgmon.{{ .Values.cluster_name }}.symmatree.com
            tls:
              - secretName: grafana-tls
                hosts:
                  - borgmon.{{ .Values.cluster_name }}.symmatree.com
  destination:
    server: https://kubernetes.default.svc
    namespace: grafana
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
        trust-bundle: enabled
