apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: '{{ required ".Values.targetRevision is required" .Values.targetRevision }}'
    path: charts/grafana
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        vault_name: '{{ required ".Values.vault_name is required" .Values.vault_name }}'
        cluster_name: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
        argocd_integration_enabled: true
        grafana:
          ingress:
            hosts:
              - 'borgmon.{{ required ".Values.cluster_name is required" .Values.cluster_name }}.symmatree.com'
            tls:
              - secretName: grafana-tls
                hosts:
                  - 'borgmon.{{ required ".Values.cluster_name is required" .Values.cluster_name }}.symmatree.com'
  destination:
    server: https://kubernetes.default.svc
    namespace: grafana
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
        trust-bundle: enabled
