apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mimir
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: '{{ required ".Values.targetRevision is required" .Values.targetRevision }}'
    path: charts/mimir
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        vault_name: '{{ required ".Values.vault_name is required" .Values.vault_name }}'
        cluster_name: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
        mimir-distributed:
          mimir:
            structuredConfig:
              alertmanager_storage:
                gcs:
                  bucket_name: '{{ required ".Values.mimir_bucket_alertmanager is required" .Values.mimir_bucket_alertmanager }}'
              blocks_storage:
                gcs:
                  bucket_name: '{{ required ".Values.mimir_bucket_blocks is required" .Values.mimir_bucket_blocks }}'
              ruler_storage:
                gcs:
                  bucket_name: '{{ required ".Values.mimir_bucket_ruler is required" .Values.mimir_bucket_ruler }}'
          gateway:
            ingress:
              hosts:
                - 'mimir.{{ required ".Values.cluster_name is required" .Values.cluster_name }}.symmatree.com'
              tls:
                - secretName: mimir-tls
                  hosts:
                    - 'mimir.{{ required ".Values.cluster_name is required" .Values.cluster_name }}.symmatree.com'
  destination:
    server: https://kubernetes.default.svc
    namespace: mimir
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
