apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mimir
  namespace: argocd
  labels:
    name: mimir
spec:
  project: "{{ .Values.cluster_name }}"
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "{{ .Values.targetRevision }}"
    path: charts/mimir
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        vault_name: "{{ .Values.vault_name }}"
        cluster_name: "{{ .Values.cluster_name }}"
        mimir: {}
  destination:
    server: https://kubernetes.default.svc
    namespace: mimir
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
