mimir-distributed:
  global:
    extraVolumes:
      - name: gsa-mimir
        secret:
          secretName: gsa-mimir
    extraEnv:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /etc/secrets/gsa-mimir/credential.json
    extraVolumeMounts:
      - name: gsa-mimir
        mountPath: /etc/secrets/gsa-mimir/

  mimir:
    structuredConfig:
      multitenancy_enabled: true
      tenant_federation:
        enabled: true
      common:
        storage:
          backend: gcs
      alertmanager_storage:
        backend: gcs
        gcs:
          bucket_name: mimir-am-bucket-placeholder
      blocks_storage:
        backend: gcs
        gcs:
          bucket_name: mimir-blocks-bucket-placeholder
      ruler_storage:
        backend: gcs
        gcs:
          bucket_name: mimir-ruler-bucket-placeholder

  distributor:
    resources:
      requests:
        cpu: null
        memory: 128Mi
  alertmanager:
    zoneAwareReplication:
      enabled: false
    resources:
      requests:
        cpu: null
        memory: 128Mi
    statefulSet:
      enabled: true
    persistentVolume:
      storageClass: "local-path"
      enableRetentionPolicy: true
      whenDeleted: Delete
      whenScaled: Delete
    terminationGracePeriodSeconds: 60
    extraContainers:
      - name: alert-forward
        image: "ghcr.io/symmatree/tiles/mimir-webhook:main"
        ports:
          - name: webhook
            containerPort: 3000
            protocol: TCP
        env:
          - name: APPRISE_URL
            # Trailing slash is required
            value: http://apprise.apprise.svc:8000/notify/
          - name: APPRISE_KEY
            value: apprise

  compactor:
    persistentVolume:
      storageClass: "local-path"
      enableRetentionPolicy: true
      whenDeleted: Delete
      whenScaled: Delete
    terminationGracePeriodSeconds: 60

  ingester:
    resources:
      requests:
        cpu: null
        memory: 128Mi
    persistentVolume:
      storageClass: "local-path"
      enableRetentionPolicy: true
      whenDeleted: Delete
      whenScaled: Delete
    terminationGracePeriodSeconds: 60
    replicas: 2
    zoneAwareReplication:
      enabled: false
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/component: ingester
                  app.kubernetes.io/name: mimir
                  app.kubernetes.io/instance: mimir
              topologyKey: kubernetes.io/hostname
        requiredDuringSchedulingIgnoredDuringExecution: []
  kafka:
    resources:
      requests:
        cpu: null
        memory: 128Mi
  chunks-cache:
    enabled: false
    replicas: 1
    # allocated memory in MB
    allocatedMemory: 512
  index-cache:
    enabled: false
    replicas: 1
    allocatedMemory: 128

  metadata-cache:
    enabled: false
    replicas: 1
    allocatedMemory: 128

  results-cache:
    enabled: false
    replicas: 1
    allocatedMemory: 128

  minio:
    enabled: false

  overrides_exporter:
    replicas: 1
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: null
        memory: 128Mi

  querier:
    replicas: 1
    resources:
      requests:
        cpu: null
    terminationGracePeriodSeconds: 60
  query_scheduler:
    resources:
      requests:
        cpu: null
        memory: 128Mi
  query_frontend:
    replicas: 1
    resources:
      requests:
        cpu: null
    terminationGracePeriodSeconds: 60

  ruler:
    replicas: 1
    terminationGracePeriodSeconds: 60
    resources:
      requests:
        cpu: null
  store_gateway:
    zoneAwareReplication:
      enabled: false
    resources:
      requests:
        cpu: null
    persistentVolume:
      storageClass: "local-path"
      enableRetentionPolicy: true
      whenDeleted: Delete
      whenScaled: Delete

  gateway:
    enabled: false
  ingress:
    enabled: true
    ingressClassName: cilium
    annotations:
      cert-manager.io/cluster-issuer: real-cert
    hosts:
      - mimir.placeholder.symmatree.com
    tls:
      - secretName: mimir-tls
        hosts:
          - mimir.placeholder.symmatree.com
