apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apprise
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: '{{ required ".Values.targetRevision is required" .Values.targetRevision }}'
    path: tanka
    plugin:
      env:
        - name: TK_ENV
          value: apprise
      parameters:
        - name: cluster_name
          string: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
        - name: vault_name
          string: '{{ required ".Values.vault_name is required" .Values.vault_name }}'
        - name: project_id
          string: '{{ required ".Values.project_id is required" .Values.project_id }}'
        - name: app_settings
          map:
            hostname: 'apprise.{{ required ".Values.cluster_name is required" .Values.cluster_name }}.symmatree.com'
            cluster_issuer: "real-cert"
            apprise_env: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}-apprise-env'
            apprise_admin: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}-apprise-admin'
  destination:
    server: https://kubernetes.default.svc
    namespace: apprise
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
