apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium-mixin
  namespace: cilium
  labels:
    name: cilium-mixin
spec:
  project: "{{ .Values.cluster_name }}"
  source:
    repoURL: https://github.com/symmatree/tales.git
    targetRevision: main
    path: tanka
    plugin:
      env:
        - name: TK_ENV
          value: cilium-mixin
  destination:
    server: https://kubernetes.default.svc
    namespace: cilium
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
