apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  labels:
    name: cert-manager
spec:
  project: "{{ .Values.cluster_name }}"
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: main
    path: charts/cert-manager
    helm:
      skipCrds: true
      valueFiles:
        - values.yaml
      valuesObject:
        cluster_name: "{{ .Values.cluster_name }}"
        project_id: "{{ .Values.project_id }}"
        vault_name: "{{ .Values.vault_name }}"
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
