apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: '{{ required ".Values.targetRevision is required" .Values.targetRevision }}'
    path: charts/cert-manager
    helm:
      skipCrds: true
      valueFiles:
        - values.yaml
      valuesObject:
        cluster_name: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
        project_id: '{{ required ".Values.project_id is required" .Values.project_id }}'
        seed_project_id: '{{ required ".Values.seed_project_id is required" .Values.seed_project_id }}'
        vault_name: '{{ required ".Values.vault_name is required" .Values.vault_name }}'
        trust-manager:
          secretTargets:
            authorizedSecrets:
              - '{{ required ".Values.cluster_name is required" .Values.cluster_name }}-ca-tls'
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
