apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  labels:
    name: argocd
spec:
  project: tiles
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: "{{ .Values.targetRevision }}"
    path: charts/argocd
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        targetRevision: "{{ .Values.targetRevision }}"

        argo-cd:
          global:
            domain: "argocd.{{ .Values.cluster_name }}.symmatree.com"
          server:
            ingressGrpc:
              hostname: "grpc-argocd.{{ .Values.cluster_name }}.symmatree.com"
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - FailOnSharedResource=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
