apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  labels:
    name: argocd
spec:
  project: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
  source:
    repoURL: https://github.com/symmatree/tiles.git
    targetRevision: '{{ required ".Values.targetRevision is required" .Values.targetRevision }}'
    path: charts/argocd
    helm:
      valueFiles:
        - values.yaml
      valuesObject:
        # Pass config values needed by argocd chart templates (e.g., tiles-appproject.yaml)
        cluster_name: '{{ required ".Values.cluster_name is required" .Values.cluster_name }}'
        targetRevision: '{{ required ".Values.targetRevision is required" .Values.targetRevision }}'
        argo-cd:
          global:
            domain: 'argocd.{{ required ".Values.cluster_name is required" .Values.cluster_name }}.symmatree.com'
          server:
            ingressGrpc:
              hostname: 'grpc-argocd.{{ required ".Values.cluster_name is required" .Values.cluster_name }}.symmatree.com'
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - FailOnSharedResource=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/warn: baseline
